*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
font-family:'Ranade',sans-serif;
color:#E96BA8;
}
/* HERO */
.hero{
    width:100%;
    min-height:100vh;

    background:
    linear-gradient(rgba(255,248,252,.35), rgba(255,248,252,.35)),
    url("images/covers/Lu Changge.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.overlay{
    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.hero h1{
    font-family:'Ranade',sans-serif;
    font-size:70px;
    color:#E96BA8;
}

.hero p{
    margin-top:20px;
    color:#E96BA8;
    font-size:22px;
}

.button{
    margin-top:35px;
    background:#ff79b5;
    color:white;
    padding:15px 35px;
    border-radius:50px;
    text-decoration:none;
    transition:.3s;
}

.button:hover{
    background:#ff5da4;
}

/* SHOWCASE */
#showcase{
    padding:80px;
    background:#FFF0F7;
}

#showcase h2{
    text-align:center;
    color:#ff5da4;
    margin-bottom:40px;
}
.slider{
    display:flex;
    gap:25px;
    overflow-x:auto;
    scroll-behavior:smooth;
    padding-bottom:15px;
}

.slider img{
    width:200px;
    border-radius:18px;
    transition:.3s;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
}

.slider img:hover{
    transform:translateY(-10px);
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:rgba(255,255,255,.85);
    backdrop-filter:blur(10px);
    box-shadow:0 2px 10px rgba(0,0,0,.08);
    z-index:1000;

}
.menu{
    display:flex;
    list-style:none;
    gap:40px;
}

.menu a{
    text-decoration:none;
    color:#444;
    font-weight:600;
    transition:.3s;
}

.menu a:hover{
    color:#E96BA8;
}
.logo{
    display:flex;
    align-items:center;
    gap:10px;
    font-family:'Parisienne', cursive;
    font-size:38px;
    color:#E96BA8;
}
.flower{
    font-size:24px;
}

.grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}
.grid a{
    background:white;
    padding:25px;
    border-radius:15px;
    text-decoration:none;
    color:#444;
    text-align:center;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    transition:.3s;
}
.grid a:hover{

    transform:translateY(-8px);

    background:#FFE8F3;

}
.parallax-overlord{
    width:100%;
    height:320px;
    background:
    linear-gradient(rgba(255,248,252,.45), rgba(255,248,252,.45)),
    url("images/Gong/BaiGongMC.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    display:flex;
    justify-content:center;
    align-items:center;
}

.parallax-overlord h2{
    font-size:50px;
    color:#E96BA8;
    text-align: left;
    text-shadow:2px 2px 8px white;
}
.mc-gallery{
    padding:80px 8%;
    background:#FFF8FC;
}

.mc-gallery h2{
    color:#E96BA8;
    margin-bottom:35px;
    text-align:center;
}

.mc-slider{
    width:100%;
    overflow:hidden;
}

.mc-track{
    display:flex;
    gap:25px;
    width:calc(190px * 12);
    animation:mcScroll 20s linear infinite;
}

.mc-card{
    flex:0 0 auto;
    text-align:center;
}

.mc-card img{
    width:170px;
    height:170px;
    object-fit:cover;
    border-radius:20px;
    border:4px solid #FFD6E8;
    background:white;
    padding:5px;
    box-shadow:0 10px 25px rgba(233,107,168,.18);
    transition:.3s;
}

.mc-card img:hover{
    transform:translateY(-8px) scale(1.05);
    border-color:#E96BA8;
}

.mc-card p{
    margin-top:12px;
    color:#555;
    font-weight:600;
}

@keyframes mcScroll{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}
/* ===========================
      LIBRARY SECTION
=========================== */

.library-section{
    padding:90px 8%;
    background:#FFF8FC;
}

.section-title{
    text-align:center;
    color:#E96BA8;
    margin-bottom:50px;
}

.library-grid{
    display:grid;
    grid-template-columns:230px 280px 1fr;
    grid-template-rows:auto 210px;
    gap:25px;
}

/* LEFT */
.category-panel{
    grid-column:1;
    grid-row:1 / 3;
}

.novel-panel{
    grid-column:2;
    grid-row:1 / 3;
}
.category-panel,
.novel-panel{
    background:#fff;
    border-radius:20px;
    padding:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.category-panel h3,
.novel-panel h3{
    color:#E96BA8;
    margin-bottom:10px;
}

.category-panel ul,
.novel-panel ul{
    list-style:none;
}

.category-panel li,
.novel-panel li{
    padding:1px;
    margin-bottom:10px;
    border-radius:12px;
    cursor:pointer;
    transition:.25s;
}

.category-panel li:hover,
.novel-panel li:hover{
    background:#FFE8F3;
    padding-left:18px;
}

.category-panel .active,
.novel-panel .active{
    background:#FFDCEC;
    font-weight:bold;
}

/* RIGHT */

.right-panel{
    grid-column:3;
    grid-row:1 / 3;

    display:grid;
    grid-template-rows:auto 210px;
    gap:25px;
}

.right-top{
    display:grid;
    grid-template-columns:300px 1fr;
    gap:25px;
}

/* COVER PANEL */

.preview-panel{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);

    display:flex;
    flex-direction:column;

    height:550px;
}

.preview-panel img{
    width:100%;
    height:70%;
    object-fit:cover;
}

.preview-content{
    height:30%;

    padding:20px;

    display:flex;
    flex-direction:column;
    justify-content:left;
    align-items:center;

    background:white;
}

.preview-content h3{
    color:#E96BA8;
    font-size:24px;
    margin-bottom:2px;


}

.preview-content p{
    color:#666;
    text-align:left;
    line-height:1.5;
    font-size:15px;
    padding-bottom: 15px;
}

/* BUTTON */

.read-btn{
    align-items: center;
    display:inline-block;
    padding:5px 32px;
    background:#E96BA8;
    color:#fff;
    border-radius:2px;
    text-decoration:none;
    transition:.3s;
}

.read-btn:hover{
    background:#D85695;
}

/* SMALL PANEL */

.other-panel{
    background:#fff;
    border-radius:20px;
    padding:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.other-panel h3{
    color:#E96BA8;
    margin-bottom:18px;
}

.other-panel ul{
    list-style:none;
}

.other-panel li{
    padding:12px;
    border-radius:10px;
    margin-bottom:10px;
    cursor:pointer;
    transition:.25s;
}

.other-panel li:hover{
    background:#FFE8F3;
}

/* BANNER */

.banner-panel{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.08);

    height:210px;      /* choose the banner height */
}

.banner-panel img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

/* Favorites */

.favorite-panel{

    width:100%;

    background:white;

    border-radius:15px;

    padding:35px;

    box-shadow:0 12px 30px rgba(0,0,0,.08);

}

.favorite-tabs{

    display:flex;

    gap:15px;

    margin:30px 0;

}

.tab{

    border:none;

    background:#FFE7F2;

    color:#E96BA8;

    padding:12px 28px;

    border-radius:3px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    transition:.3s;

}

.tab:hover{

    background:#FFD2E7;

}

.tab.active{

    background:#E96BA8;

    color:white;

}
.book{

    text-align:center;

}

.book img{

    width:100%;

    border-radius:18px;

    transition:.3s;

}

.book img:hover{

    transform:translateY(-10px);

}

.book p{

    margin-top:12px;

}

.tab-content{
    display:none;
}

.tab-content.active{
    display:block;
}
.favorite-years{
    display:flex;
    gap:20px;
    margin-bottom:30px;
}

.year{
    padding:10px 15px;
    border:none;
    border-radius:2px;
    background:#FFE8F3;
    cursor:pointer;
    transition:.1s;
    color: #E96BA8;
    font-weight: 520;
}

.year:hover{
    background:#FFE8F3;
}

.year.active{
    background:#E96BA8;
    color:white;
}

.year-content{
    display:none;
}

.year-content.active{
    display:block;
}
