*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
font-family: 'Ranade', sans-serif;
font-color: #000000;
background:#FFF8FC;
overflow-x:hidden;
}
/* Navigation */

.navbar{

    position:fixed;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    width:90%;

    max-width:1200px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 35px;

    border-radius:20px;

    background:rgba(255,255,255,.65);

    backdrop-filter:blur(15px);

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    z-index:1000;

}

.logo{

    font-family:'Parisienne',cursive;

    font-size:34px;

    color:#ff6ea8;

}

.menu{

    display:flex;

    list-style:none;

    gap:35px;

}

.menu a{

    text-decoration:none;

    color:#444;

    font-weight:600;

    transition:.3s;

}

.menu a:hover{

    color:#ff6ea8;

}
/* HERO */

.hero{

    width:100%;

    height:100vh;

    background-image: url("images/background/BGHome.png");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;

}

.overlay{

    width:100%;

    height:100%;

     background-image: url("images/background/BGHome.png");
    
    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}

.hero h1{

    font-family:'Ranade';

    font-size:70px;

    color:black;

    text-shadow:4px 4px 15px rgba(0,0,0,.25);

}

.hero p{

    margin-top:20px;

    color:black;

    font-size:22px;

}

.button{

    margin-top:35px;

    background:#ff79b5;

    color:white;

    padding:15px 35px;

    border-radius:50px;

    text-decoration:none;

    transition:.3s;

}

.button:hover{

    background:#ff5da4;

}

/* SHOWCASE */

#showcase{

    padding:80px;

    background:#FFF0F7;

}

#showcase h2{

    text-align:center;

    color:#ff5da4;

    margin-bottom:40px;

}

.slider{

    display:flex;

    gap:25px;

    overflow-x:auto;

    scroll-behavior:smooth;

    padding-bottom:15px;

}

.slider img{

    width:200px;

    border-radius:18px;

    transition:.3s;

    box-shadow:0 10px 20px rgba(0,0,0,.15);

}

.slider img:hover{

    transform:translateY(-10px);

}
